{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand btn" href="/" style="font:25px bold ;color:blue">M & S</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      {{if .signin}}
      <a href="/category" class="btn btn-primary">Category</a>
      <a href="/signout" class="btn btn-primary">Sign Out</a>
      <a href="/post/new" class="btn btn-primary">New Post</a>
      {{else}}
      <a href="/signin" class="btn btn-primary">登录</a>
      <a href="/signup" class="btn btn-info">注册</a>
  {{end}}
      <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search(未实装)</button>
      </form>
    </div>
  </nav>
  {{end}}