{{template "header"}}
{{template "navbar" .}}
<div class="container mt-5">
    <a href="/category/new" class="btn btn-danger btn-sm">新建分类</a>
 <table class="table">
 <thead>
   <tr>
     <th scope="col">#</th>
     <th scope="col">分类名字</th>
     <th scope="col">Name</th>
     <th scope="col">操作</th>
   </tr>
 </thead>
 <tbody>
   {{range $i,$v := .CategoryList}}
   <tr>
     <th scope="row">{{$i}}</th>
     <td>{{$v.name}}</td>
     <td>{{$v.englishname}}</td>
     <td>
            <button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Description" data-content="{{$v.description}}">Description</button>
         <a href="/category/delete?id={{$v.idhex}}" class="btn btn-danger btn-sm">删除</a>
        <a href="/category/edit?id={{$v.idhex}}" class="btn btn-danger btn-sm">编辑</a></td>    
   </tr>
   {{end}}
 </tbody>
</table>
<script>
    window.onload=function(){
    
  $('[data-toggle="popover"]').popover()
    }
</script>
</div>
{{template "footer"}}