<html lang="zh">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="3;URL={{.URL}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <title>index</title>
  </head>
<body>
      <div class="jumbotron">
          <h1 class="display-4">{{.Message}}</h1>
          <p class="lead">页面将在5秒钟后自动跳转，如果没有自动跳转，请点击下面的跳转按钮</p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{.URL}}" role="button">跳转</a>
          </p>
        </div>
{{template "footer"}}


